<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Search properties for sale</h3>
            <div class="well">
                <form [formGroup]="searchFormGroup" (ngSubmit)="searchForSale()">
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="geocoder">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-4 required col-md-3">
                            <mat-form-field>
                                <mat-select formControlName="minPrice" placeholder="Mininmun Price">
                                    <mat-option *ngFor="let price of searchInput.minPrices" [value]="price">
                                        {{price}} MAD
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-error *ngIf="minPrice.hasError('required')">Please choose an animal</mat-error> -->
                            <!-- <label>{{'Min Price' | translate}}</label>
                            <input type="text" class="form-control" name="minPrice"
                                [(ngModel)]="searchedProperty.minPrice" required> -->
                        </div>
                        <div class="col-md-3 form-group">
                            <mat-form-field>
                                <mat-select formControlName="maxPrice" placeholder="Maximum Price">
                                    <mat-option *ngFor="let price of searchInput.maxPrices" [value]="price">
                                        {{price}} MAD
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <label>{{'Max Price' | translate}}</label>
                            <input type="text" class="form-control" name="maxPrice"
                                [(ngModel)]="searchedProperty.maxPrice" required> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <mat-form-field>
                                <mat-select formControlName="propertyType" placeholder="Property Type">
                                    <mat-option *ngFor="let propertyType of searchInput.propertyTypes" [value]="propertyType">
                                        {{propertyType}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <label>{{'Property Tpye' | translate}}</label>
                            <input type="text" class="form-control" name="propertyType"
                                [(ngModel)]="searchedProperty.propertyType" required> -->
                        </div>
                        <div class="col-md-3 form-group">
                            <mat-form-field>
                                <mat-select formControlName="bedrooms" placeholder="Bedrooms Number">
                                    <mat-option *ngFor="let bedroom of searchInput.bedrooms" [value]="bedroom">
                                       more than {{bedroom}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- <label>{{'Bedrooms' | translate}}</label>
                            <input type="text" class="form-control" name="bedRooms"
                                [(ngModel)]="searchedProperty.bedRooms" required> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <mat-form-field>
                                <mat-select formControlName="distanceFromLocation" placeholder="Distance from Location">
                                    <mat-option *ngFor="let distance of searchInput.distances" [value]="distance">
                                        {{distance}} mile
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- <label>{{'Distance from Location' | translate}}</label>
                            <input type="text" class="form-control" name="distanceFromLocation"
                                [(ngModel)]="searchedProperty.distanceFromLocation" required> -->
                        </div>
                        <!-- <div class="col-md-3 form-group">
                            <label>{{'Addedd' | translate}}</label>
                            <input type="text" class="form-control" name="maxPrice"
                                [(ngModel)]="searchedProperty.maxPrice" required>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="button btn btn-primary pull-right"
                                >{{'SEARCH' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
            </div>

            <button (click)="test()">click</button>